name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create archive
        run: |
          zip -r AssignmentTracker.zip . -x "*.git*"

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            AssignmentTracker.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}